*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: gray;
    flex-wrap: wrap;
    width: 100%;

    /* flex-flow: column; */
}

header div{
    background-color: indigo;
    display: inline-block;
    position: relative;
}

header div h1{
    position: relative;
    z-index: 30;
}

nav{
    display: inline;
}

.placeholder-head-shot{
    display: inline-block;
    position: relative;
    left: 10px;
    top: 10px;
    z-index: 12;
}

nav ul{
    list-style: none;
    display: inline-flex;
}

nav ul li {
    margin: 20px;
}