/* Header Style */
:root{
    --font-headings: white;
    --font-body: white;
    --bg-dark: #31343d;
    --bgcolor-1: #31343d;
    --accent: darkblue;
    --shadow-color: white;
    --gradient-1: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
    --gradient-2: linear-gradient(45deg, #0700b8 0%, #00ff88 100%);
    
    /* usable colors */
    --nav-font-color: #92ccce;
    --header-bg-color: #31343d;
    --gradient-3: linear-gradient(45deg, #92ccce, #92ccce);
    --border-radius: 2px;
    --secondary-blue: #445877;
    --main-bg-color: #eeeef7;
    --margin-from-header: 20px;

}

*{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


body{
    font-family: sans-serif;
    position: relative;
}

header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: var(--header-bg-color);
    width: 100%;
    transition: all .25s ease-in;
}

h1{
    font-size: xx-large;
    color: var(--header-bg-color);
}

h2{
    font-size: 2rem;
    text-align: right;
    color: var(--secondary-blue);
    border-right: 3px solid var(--secondary-blue);
    padding: 15px;
    font-weight: bold;
}

/* Profile name and picture styles */
/* .profile{
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    align-items: center;
    margin: 10px;
    min-width: 350px;
} */

.profile-name{
    order: 2;
    /* position: absolute; */
    /* bottom: 10px; */
    /* change background color to neat gradient */
    background: var(--gradient-3);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 5vw;
    margin: 15px 0px;
    font-weight: bolder;
}

/* Nav styles */

nav ul{
    list-style: none;
    display: flex;
    margin: 0 20px;
    flex-flow: row wrap;
    justify-content: center;
    
}

/* transition here */
nav ul li {
    margin: 5px;
    font-size: larger;
    font-weight: bold;
    background: var(--gradient-3);
    /* background:rgb(241, 72, 5); */
    padding: 10px;
    border-radius: var(--border-radius);
    background-repeat: no-repeat;
    background-size: 100% .2em;
    background-position: bottom;
    transition: all .25s ease-in;
}

nav ul li:hover{
    background-size: 100% 100%;
    color: var(--header-bg-color);
}

nav ul li a{
    text-decoration: none;
    color: var(--nav-font-color);
    transition: all .25s ease-in;
}

nav ul li a:hover{
    color: var(--header-bg-color);
    
}





/* .placeholder-head-shot{
    box-sizing: border-box;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
} */

/* Banner styles */
.banner{
    background:center/contain no-repeat url('../images/pexels-anni-roenkae-3169299.jpg');
    background-size: cover;
    min-height: 300px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    
}

.banner p{
    color: var(--header-bg-color);
    background: var(--nav-font-color);
    font-size: larger;
    text-align: right;
    margin: 10px 20px;
    font-weight: bold;
    padding: .5em;
    border-radius: var(--border-radius);
}

/* Main Styling */




main{
    display: flex;
    flex-flow: column;
    background: var(--main-bg-color);
    z-index: 1;
    position: relative;;
}

/* .about-me, .work, .contact{
    display: grid;
    grid-template-columns: 10em 3fr;
    padding: 10px;
    margin: 15px 5vw;
    gap: 1em;
    
} */

.about-me, .work, .contact{
    display: flex;
    padding: 10px;
    margin: 15px 5vw;
}

.section-header{
    flex: 0 0 15vw;
}


/* About me styles*/

.about-me div{
    margin-left: var(--margin-from-header);
}

.about-me p{
    color: var(--secondary-blue);
    margin: 0 25px 25px 0px;
}

/* Work Styles */
.work-grid{
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 250px);
    gap: 1em;
    margin-left: var(--margin-from-header);
}

.work article{
    display: flex;
    flex-flow: column;
    overflow: hidden;
    position: relative;
    border-radius: var(--border-radius);
    border: 5px solid var(--nav-font-color);
    transition: all .3s;
    
}

.work article:hover{
    opacity: .5;
    box-shadow: 5px 10px 0px 0px white;
    
}



.work article img{
    position: absolute;
    z-index: -1;
    width: 100%;
    
}

.work article h3, .work article p{
    color: var(--header-bg-color);
    /* background: linear-gradient(45deg, #3c548d 0%, #182848 100%); */
    padding: 5px;
    margin: 5px;
}

.work article div{
    background: var(--nav-font-color);
    width: 10em;
    position: absolute;
    left: 0;
    bottom: 10px;
}

.work article h3{
    font-weight: bolder;
    font-size: 130%;
    color: var(--header-bg-color);
}

.main-project{
    grid-column: span 2;
}


/* Contact styling */

.contact ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: var(--margin-from-header);
    list-style-type: none;
    
}

.contact ul li{
    margin: 20px;
}

.contact ul li a{
    color: var(--secondary-blue);
    text-decoration: none;
    border-bottom: 3px solid var(--secondary-blue);
    padding: 10px;
}


@media screen and (max-width:1000px){
    .about-me, .work, .contact{
        flex-flow: column wrap;
    }
    
    .section-header{
        text-align: left;
        border-right: 3px none var(--secondary-blue);
        border-bottom: 3px solid var(--secondary-blue);
        width: 100%;
        flex-basis: auto;
        margin-bottom: 2rem;
    }

    .about-me div{
        margin-left: 0;
    }

    .contact ul{
        margin-left: 0;
    }

    .flex-child{
        margin-left: 0;
    }

    header{
        flex-flow: column;
    }
    
    nav ul{
        margin: 0;
    }

    .profile-name{
        padding: 10px;
    }

    .contact ul{
        flex-flow: column wrap;
        align-items: center;
        
    }

    .contact ul li{
        margin-left: 0px;
    }
}

@media screen and (max-width:500px){
    nav ul{
        flex-flow: row wrap;
    }

    nav{
        width: 100%;
    }

    nav ul li{
        width: 40%;
    }
}