/* Header Style */
:root{
    --font-headings: white;
    --font-body: white;
    --bg-dark: #31343d;
    --bgcolor-1: #31343d;
    --accent: darkblue;
    --border-radius: 2px;
    --shadow-color: white;
    --gradient-1: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
    --gradient-2: linear-gradient(45deg, #0700b8 0%, #00ff88 100%);
    
    --nav-font-color: #92ccce;
    --header-bg-color: #31343d;
    --gradient-3: linear-gradient(45deg, #92ccce, #92ccce);

}

*{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


body{
    font-family: sans-serif;
    position: relative;
}

header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: var(--header-bg-color);
    width: 100%;
    transition: all .25s ease-in;
}

h1{
    font-size: xx-large;
    color: var(--header-bg-color);
}

h2{
    font-size: x-large;
    text-align: right;
    color: white;
}


/* Nav styles */
nav{
    align-self: flex-end;
}

nav ul{
    list-style: none;
    display: flex;
    
}

/* transition here */
nav ul li {
    margin: 5px;
    font-size: larger;
    font-weight: bold;
    background: var(--gradient-3);
    /* background:rgb(241, 72, 5); */
    padding: 10px;
    border-radius: var(--border-radius);
    background-repeat: no-repeat;
    background-size: 100% .2em;
    background-position: bottom;
    transition: all .25s ease-in;
}

nav ul li:hover{
    background-size: 100% 100%;
    color: var(--header-bg-color);
}

nav ul li a{
    text-decoration: none;
    color: var(--nav-font-color);
    transition: all .25s ease-in;
}

nav ul li a:hover{
    color: var(--header-bg-color);
    
}

@media screen and (max-width:1000px){
    header{
        flex-flow: column;
    }
    
    nav{
        align-self: auto;
    }
}


/* Profile name and picture styles */
/* .profile{
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    align-items: center;
    margin: 10px;
    min-width: 350px;
} */

.profile-name{
    order: 2;
    /* position: absolute; */
    /* bottom: 10px; */
    /* change background color to neat gradient */
    background: var(--gradient-3);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    box-sizing: border-box;
    padding: 5px;
}

/* .placeholder-head-shot{
    box-sizing: border-box;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
} */

/* Banner styles */
.banner{
    background-color: darkblue;
    min-height: 80px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.banner p{
    color: whitesmoke;
    font-size: large;
    text-align: right;
}

/* Main Styling */




main{
    display: flex;
    flex-flow: column;
    background: linear-gradient(45deg, #0700b8 0%, #00ff88 100%);
    z-index: 1;
    position: relative;;
}

.about-me, .work, .contact{
    display: grid;
    grid-template-columns: 10em 3fr;
    padding: 10px;
    margin: 15px 5vw;
    gap: 1em;
    
}

@media screen and (max-width:1000px){
    .about-me, .work, .contact{
        grid-template-columns: 1fr;
    }

    h2{
        text-align: left;
    }
}

/* About me styles*/

/* Work Styles */
.work-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 250px);
    gap: 1em;
}

.work article{
    display: flex;
    flex-flow: column;
    overflow: hidden;
    position: relative;
    border-radius: 10px;

}

.work article:hover{
    opacity: .5;
    box-shadow: 5px 10px 0px 0px white;

}



.work article img{
    position: absolute;
    z-index: -1;
    width: 100%;

}

.work article h3, .work article p{
    color: white;
    /* background: linear-gradient(45deg, #3c548d 0%, #182848 100%); */
    padding: 5px;
    margin: 5px;
}

.work article div{
    background: linear-gradient(45deg, #3c548d 0%, #182848 100%);
    width: 10em;
    position: absolute;
    left: 0;
    bottom: 10px;
}

.work article h3{
    font-weight: bolder;
    font-size: 130%;
}

.main-project{
    grid-column: span 2;
}

.contact ul{
    display: flex;
    
}

.contact ul li{
    margin: 20px;
    color: white;
}

li a{
    color: white;
}


