/* Header Style */
body{
    font-family: sans-serif;
    position: relative;
}

header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: gray;
    width: 100%;
}

h1{
    font-size: xx-large;
    color: white;
}

h2{
    font-size: x-large;
    text-align: right;
    color: white;
}


/* Nav styles */
nav{
    align-self: flex-end;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 20px;
    font-size: larger;
    font-weight: bold;
    
}

nav ul li a{
    text-decoration: none;
    color: white;
    
}

@media screen and (max-width:1000px){
    header{
        flex-flow: column;
    }
    
    nav{
        align-self: auto;
    }
}


/* Profile name and picture styles */
.profile{
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    align-items: center;
    margin: 10px;
    min-width: 350px;
}

.profile-name{
    order: 2;
    position: absolute;
    bottom: 10px;
    /* change background color to neat gradient */
    background-color: rgb(54, 54, 54);
    border-radius: 2px;
    box-sizing: border-box;
    padding: 5px;
}

.placeholder-head-shot{
    box-sizing: border-box;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
}

/* Banner styles */
.banner{
    background-color: darkblue;
    min-height: 80px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.banner p{
    color: whitesmoke;
    font-size: large;
    text-align: right;
}

/* Main Styling */




main{
    display: flex;
    flex-flow: column;
    background: linear-gradient(45deg, #0700b8 0%, #00ff88 100%);
    z-index: 1;
    position: relative;;
}

.about-me, .work, .contact{
    display: grid;
    grid-template-columns: 10em 3fr;
    padding: 10px;
    margin: 15px 5vw;
    gap: 1em;
}

@media screen and (max-width:1000px){
    .about-me, .work, .contact{
        grid-template-columns: 1fr;
    }

    h2{
        text-align: left;
    }
}

/* About me styles*/

/* Work Styles */
.work-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 250px);
    gap: 1em;
}

.work article{
    display: flex;
    flex-flow: column;
    overflow: hidden;
    position: relative;
    border-radius: 10px;

}

.work article:hover{
    opacity: .5;
    box-shadow: 5-px 10px 1px 0px white;

}



.work article img{
    position: absolute;
    z-index: -1;
    width: 100%;

}

.work article h3, .work article p{
    color: white;
    background: linear-gradient(45deg, #3c548d 0%, #182848 100%);;
    padding: 10px;
    margin: 20px;
}

.work article h3{
    font-weight: bolder;
}

.main-project{
    grid-column: span 2;
}

.contact ul{
    display: flex;
    
}

.contact ul li{
    margin: 20px;
}


